h1 {
    color: blue;
    text-decoration: line-through;

}

body {
    background-color: pink;
}

.heading {
    background-color: yellow;
}


div {
    height: 100px;
    width: 100px;
    background-color: pink;
    color: white;
    border: 1px solid  black;
}